# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Weblogic files #
*.jpf
*.bak

# IDEA files #
.idea/
*.iml
*.iws

# NetBeans files #
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/build/

# Eclipse files #
.metadata
/*.tmp
/*.bak
/*.swp
/.classpath
/.project
/.settings/

# VS Code
.vscode/

# Maven / Gradle
target/
build/
!src/main/webapp/WEB-INF/

# Ignore libraries folder
Libraries/

# Exclude the build directory (might differ depending on your setup)
build/
